.grid-wrapper {
    background-color: rgb(49, 49, 49);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: small; */
    color: white;
    display:grid;
    grid-template: 2em / 1fr 1fr 4fr 2.25fr;
    padding: 1%;
    height: auto;
}
.flex-container {
    display:flex;
}
.title {
    grid-row: 1;
    grid-column: 1/2;
    display:flex;
    justify-self: flex-start;
    align-self: center;
}
.nav-links {
    grid-row: 1;
    grid-column: 2/3;
    justify-content: space-between;
    align-self: center;
}
/* .spacer {
    grid-column 3/4;
} */
.search-field {
    grid-column: 4/5;
    justify-content: space-between;
    align-content: center;
}
.link {

    
}
input {
    border-radius: 4px;
    width: 180px;
}
.search-button {
    text-align:center;
    text-justify: center;
    font-size: 100%;
    border: 2px solid orange;
    background-color: rgb(49, 49, 49);
    color: orange;
    border-radius: 4px;
    display:inline-block;
    width: 60px;
    padding: 1%;
}
body {
    background-color: white;
}